In [ ]:
# 작업형 유형 1문제(1)
import seaborn as sns
import pandas as pd
sns.get_dataset_names()
df = sns.load_dataset('car_crashes')
print(df.head())

   total  speeding  alcohol  ...  ins_premium  ins_losses  abbrev
0   18.8     7.332    5.640  ...       784.55      145.08      AL
1   18.1     7.421    4.525  ...      1053.48      133.93      AK
2   18.6     6.510    5.208  ...       899.47      110.35      AZ
3   22.4     4.032    5.824  ...       827.34      142.39      AR
4   12.0     4.200    3.360  ...       878.41      165.63      CA

[5 rows x 8 columns]

In [ ]:
#사용자 코드

최종 결과값은 5.600099999999999

In [ ]:
# 작업형 유형 1문제(2)
import seaborn as sns
import pandas as pd
import numpy as np
df = sns.load_dataset('planets')
print(df.head())

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
#사용자 코드

전처리 전 275.0161144074897
전처리 후 267.05138442597666

In [ ]:
# 작업형 유형 1문제(3)
import seaborn as sns
sns.get_dataset_names()
df = sns.load_dataset('planets')
print(df.head())

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
# 사용자 코드

1818772.582

In [ ]:
# 작업형 유형 2(기초쌓기)

In [ ]:
import seaborn as sns
df = sns.load_dataset('penguins')
print(df.head())

  species     island  bill_length_mm  ...  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen            39.1  ...              181.0       3750.0    Male
1  Adelie  Torgersen            39.5  ...              186.0       3800.0  Female
2  Adelie  Torgersen            40.3  ...              195.0       3250.0  Female
3  Adelie  Torgersen             NaN  ...                NaN          NaN     NaN
4  Adelie  Torgersen            36.7  ...              193.0       3450.0  Female

[5 rows x 7 columns]

In [ ]:
#1. 결측치 입력

In [ ]:
#2. 라벨인코딩

In [ ]:
#3. 데이터 변환, 더미

In [ ]:
#4. 파생변수

In [ ]:
#5. 스케일

In [ ]:
#6. 데이터 분리

In [ ]:
#7. 모형학습

In [ ]:
#8. 앙상블

In [ ]:
#9. 모형평가

랜포 정확도 1.0
아이다 정확도 0.9855072463768116
보팅 정확도 1.0

In [ ]:
#10. 하이퍼파라미터 튜닝

최적의 파라메터 {'max_depth': 4, 'n_estimators': 100}

In [ ]:
#11. 파일저장

    id  pred
0   57     0
1  173     1
2  213     1
3   50     0
4   25     0

In [ ]:
#연습문제1
#- 성능이 우수한 예측모형을 구축하기 위해서는 적절한 데이터 전처리,
# 피쳐엔지니어링, 분류 알고리즘 사용, 초매개변수 최적화, 모형 앙상블 등이 수반되어야 한다.
#- 수험번호.csv(예:0000.csv) 파일이 만들어지도록 코드를 제출한다.
#- 제출한 모형의 성능은 ROC-AUC 평가지표에 따라 채점한다.
#- predict_proba로 예측, 범주1의 확률을 예측
# 데이터 파일 읽기 예제

import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split

df = sns.load_dataset('titanic')
X_train, X_test, y_train, y_test = train_test_split(df, df['survived'], test_size=0.2, random_state=42, stratify=df['survived'])
X_train = X_train.drop(['alive', 'survived'], axis=1)
X_test = X_test.drop(['alive', 'survived'], axis=1)
print(X_train.head())

     pclass     sex   age  sibsp  ...  adult_male  deck  embark_town  alone
692       3    male   NaN      0  ...        True   NaN  Southampton   True
481       2    male   NaN      0  ...        True   NaN  Southampton   True
527       1    male   NaN      0  ...        True     C  Southampton   True
855       3  female  18.0      0  ...       False   NaN  Southampton  False
801       2  female  31.0      1  ...       False   NaN  Southampton  False

[5 rows x 13 columns]

In [ ]:
#사용자 코드
#1. 결측치 입력

In [ ]:
#2. 라벨인코딩

In [ ]:
#3. 데이터 변환, 더미

In [ ]:
#4. 파생변수

In [ ]:
#5. 스케일

In [ ]:
#6. 데이터 분리

In [ ]:
#7. 모형학습, 8. 앙상블

In [ ]:
#9. 모형평가

로지스틱 0.8594008264462811
랜덤포레스트 0.8365702479338843
보팅 0.8728305785123966

In [ ]:
#10. 하이퍼파라미터 튜닝

최적의 파라메터 {'max_depth': 6, 'n_estimators': 100}

In [ ]:
#11. 파일저장

In [ ]:
#확인

    id    result
0  565  0.140081
1  160  0.126892
2  553  0.111121
3  860  0.115772
4  241  0.590373

In [ ]:
#연습문제2(회귀예측)
#- 성능이 우수한 예측모형을 구축하기 위해서는 적절한 데이터 전처리,
# 피쳐엔지니어링, 분류 알고리즘 사용, 초매개변수 최적화, 모형 앙상블 등이 수반되어야 한다.
#- 수험번호.csv(예:0000.csv) 파일이 만들어지도록 코드를 제출한다.
#- 제출한 모형의 성능은 RMSE, MAE가 평가지표에 따라 채점한다.

# 데이터 파일 읽기 예제
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

df = sns.load_dataset('mpg')
X_train, X_test, y_train, y_test = train_test_split(df, df['mpg'], test_size=0.2, random_state=42)
X_train = X_train.drop(['mpg'], axis=1)
X_test = X_test.drop(['mpg'], axis=1)
print(X_train.head())

     cylinders  displacement  ...  origin                name
3            8         304.0  ...     usa       amc rebel sst
18           4          97.0  ...   japan        datsun pl510
376          4          91.0  ...   japan  mazda glc custom l
248          4          91.0  ...   japan    honda civic cvcc
177          4         115.0  ...  europe          audi 100ls

[5 rows x 8 columns]

In [ ]:
# 사용자 코딩
#1. 결측치 제거

In [ ]:
#2. 라벨 인코더

In [ ]:
#3. 카테고리 변환, 더미

In [ ]:
#4. 파생변수 생성

In [ ]:
#5. 스케일 작업

In [ ]:
#6. 데이터 분리

In [ ]:
#7. 모델 학습

In [ ]:
#8.앙상블(스태킹)

In [ ]:
#9. 모형평가

선형회귀 MSE 12.966610337469994
랜포 MSE 9.356881265624995
스태킹 MSE 11.554321875000001
선형회귀 RMSE 3.6009179853851148
랜포 RMSE 3.0589019705811094
스태킹 RMSE 3.399164879054854

In [ ]:
#10. 하이퍼파라미터 튜닝

최적의 파라메터 {'max_depth': 6, 'n_estimators': 50}

In [ ]:
#11. 파일저장

In [ ]:
#확인

    id     result
0  198  30.471707
1  396  29.174458
2   33  20.504814
3  208  15.167736
4   93  14.328403

In [ ]:
# KDATA 실습환경
# 출력을 원할 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
a = pd.read_csv('data/mtcars.csv', index_col=0)

# 사용자 코딩


# 답안 제출 예시
# print(평균변수값)

In [ ]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제


# 사용자 코딩
#1. 결측치 제거


#2. 라벨 인코더



#3. 카테고리 변환, 더미


#4. 파생변수 생성


#5. 스케일 작업


#6. 데이터 분리

#7. 모형학습, 8. 앙상블


#9. 모형평가


#10. 하이퍼파라미터 튜닝


#11. 파일저장


#확인



# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'cust_id': X_test.cust_id, 'gender': pred}).to_csv('003000000.csv', index=False)